venv/
.idea/
node_modules/
/back-end/employment-agency/employment_agency/employment_app/migrations/**
/back-end/employment-agency/employment_agency/employment_app/upload/**
/back-end/employment-agency/employment_agency/employment_app/static/
__pycache__
*.pyc
